<h1><%= @event.title %></h1>

<h2><%= @event.date %></h2>
<h2><%= @event.location %></h2>
<h3>Number of Attendees: <%= @event.attendees.count %></h3>
<h3>List of Attendees</h3>
<% @event.attendees.each do |attendee| %>
  <p><%= attendee.email %></p>
<% end %>

<% pre_attendance = @event.event_attendings.find { |event_attending| event_attending.event_attendee_id == current_user.id } %>
<% invited = current_user.invites.exists?(event_id: @event.id) %>
<% if invited %>
  <% if pre_attendance %>
    <%= button_to 'Unattend', event_event_attending_path(@event, pre_attendance), method: :delete %>
  <% else %>
    <%= button_to 'Attend', event_event_attendings_path(@event), method: :post %>
  <% end %>
<% end %>

<% if current_user == @event.creator %>
  <%= render 'invite' %>
<% end %>

<br>
<%= link_to 'Edit', edit_event_path %>
<%= link_to 'Delete', @event, method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %>

<%= link_to 'Back', current_user %>
